4_PrezentacioniSloj/KorisnickiInterfejs/KorisnickiInterfejs/KorisnickiInterfejs/Web References/WSUniverzitet/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DajSveLetelice">
        <s:complexType />
      </s:element>
      <s:element name="DajSveLeteliceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DajSveLeteliceResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DajLetelicu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegBr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DajLetelicuResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DajLetelicuResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DajRegBrLetelice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="naziv" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DajRegBrLeteliceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DajRegBrLeteliceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DajSveLeteliceSoapIn">
    <wsdl:part name="parameters" element="tns:DajSveLetelice" />
  </wsdl:message>
  <wsdl:message name="DajSveLeteliceSoapOut">
    <wsdl:part name="parameters" element="tns:DajSveLeteliceResponse" />
  </wsdl:message>
  <wsdl:message name="DajLetelicuSoapIn">
    <wsdl:part name="parameters" element="tns:DajLetelicu" />
  </wsdl:message>
  <wsdl:message name="DajLetelicuSoapOut">
    <wsdl:part name="parameters" element="tns:DajLetelicuResponse" />
  </wsdl:message>
  <wsdl:message name="DajRegBrLeteliceSoapIn">
    <wsdl:part name="parameters" element="tns:DajRegBrLetelice" />
  </wsdl:message>
  <wsdl:message name="DajRegBrLeteliceSoapOut">
    <wsdl:part name="parameters" element="tns:DajRegBrLeteliceResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="DajSveLetelice">
      <wsdl:input message="tns:DajSveLeteliceSoapIn" />
      <wsdl:output message="tns:DajSveLeteliceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DajLetelicu">
      <wsdl:input message="tns:DajLetelicuSoapIn" />
      <wsdl:output message="tns:DajLetelicuSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DajRegBrLetelice">
      <wsdl:input message="tns:DajRegBrLeteliceSoapIn" />
      <wsdl:output message="tns:DajRegBrLeteliceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DajSveLetelice">
      <soap:operation soapAction="http://tempuri.org/DajSveLetelice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DajLetelicu">
      <soap:operation soapAction="http://tempuri.org/DajLetelicu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DajRegBrLetelice">
      <soap:operation soapAction="http://tempuri.org/DajRegBrLetelice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DajSveLetelice">
      <soap12:operation soapAction="http://tempuri.org/DajSveLetelice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DajLetelicu">
      <soap12:operation soapAction="http://tempuri.org/DajLetelicu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DajRegBrLetelice">
      <soap12:operation soapAction="http://tempuri.org/DajRegBrLetelice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:1370/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:1370/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>